CompileFlags:
  Remove: -mno-direct-extern-access
  CompilationDatabase: build
Index:
  Background: Build
Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - readability-*
      - performance-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-magic-numbers
    CheckOptions:
      readability-identifier-naming.VariableCase: camelCase
      readability-identifier-naming.FunctionCase: camelCase
      readability-identifier-naming.ClassCase: CamelCase
Completion:
  AllScopes: true
